{% extends "uses.html" %}

{% block content %}
    <div class="container mt-5">
        <br><br>
        <div class="row">
            <div class="col-lg-8">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">Detail of "{{ movie.title }}"</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">Release date on {{ movie.release_year }}</div>
                        <!-- Post categories-->
                        {% for movie_genre in movie.movie_genres.all %}
                            <a class="badge bg-secondary text-decoration-none link-light" href="{% url 'movie_by_genre' movie_genre.genre.id %}">{{ movie_genre.genre.name }}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ movie.poster.url }}" alt="..." /></figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        <h2 class="fw-bolder mb-4 mt-5">Directed by :</h2>
                        <p class="fs-5 mb-4">{{ movie.director }}</p>
                        <h2 class="fw-bolder mb-4 mt-5">Description</h2>
                        <p class="fs-5 mb-4">{{ movie.description }}</p>
                        <h2 class="fw-bolder mb-4 mt-5">Synopsys</h2>
                        <p class="fs-5 mb-4">{{ movie.synopsys }}</p>
                    </section>
                </article>
                <!-- Comments section-->
                <section class="mb-5">
                    <div class="card bg-light">
                        <div class="card-body">
                            <!-- Comment form-->
                            <form id="commentForm" action="{% url 'add_comment' movie.id %}" method="POST" class="mb-4">
                                {% csrf_token %}
                                <textarea id="commentInput" class="form-control" name="content" rows="3" placeholder="Join the discussion and leave a comment!">{{ form.content }}</textarea>
                            </form>
                
                            <!-- Display comments -->
                            {% for comment in comments %}
                                <!-- Parent comment-->
                                <div class="d-flex mb-4">
                                    <div class="flex-shrink-0">
                                        {% if comment.user.first_name %}
                                            <img class="rounded-circle img-50" src="http://127.0.0.1:8000/media/{{ comment.user.first_name }}" alt="..." />
                                        {% else %}
                                            <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                        {% endif %}
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">
                                            {% if comment.user == request.user %}
                                                You
                                            {% else %}
                                                {{ comment.user.username }}
                                            {% endif %}
                                        </div>
                                        {{ comment.content }}
                
                                        <!-- Child comments (nested comments) -->
                                        {% for child in comment.children.all %}
                                            <div class="d-flex mt-4">
                                                <div class="flex-shrink-0">
                                                    {% if child.user == request.user %}
                                                        <img class="rounded-circle img-50" src="http://127.0.0.1:8000/media/{{ child.user.first_name }}" alt="..." />
                                                    {% else %}
                                                        <img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." />
                                                    {% endif %}
                                                </div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">
                                                        {% if child.user == request.user %}
                                                            You
                                                        {% else %}
                                                            {{ child.user.username }}
                                                        {% endif %}
                                                    </div>
                                                    {{ child.content }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </section>            
            </div>
            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget-->
                <div class="card mb-4">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                        </div>
                    </div>
                </div>
                <!-- Categories widget-->
                <div class="card mb-4">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for genre in genres %}
                                        {% if forloop.counter0|divisibleby:2 %}
                                            <li><a href="{% url 'movie_by_genre' genre.id %}">{{ genre.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-sm-6">
                                <ul class="list-unstyled mb-0">
                                    {% for genre in genres %}
                                        {% if not forloop.counter0|divisibleby:2 %}
                                            <li><a href="{% url 'movie_by_genre' genre.id %}">{{ genre.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
                <!-- Side widget-->
                <div class="card mb-4">
                    <div class="card-header">Rating</div>
                    <div class="card-body">
                        <div>
                            <div class="d-flex justify-content-center my-3 mx-3">
                                <div class="row">
                                    <!-- Formulaire de rating -->
                                    <form method="POST" action="{% url 'add_rating' movie.id %}">
                                        {% csrf_token %}
                                        <div class="form-group" id="rating-ability-wrapper">
                                            <label class="control-label" for="rating">
                                            <span class="field-label-header">How would you rate this movie?*</span><br>
                                            <input type="hidden" id="selected_rating" name="selected_rating" value="" required="required">
                                            </label>
                                            <h2 class="bold rating-header">
                                            <span class="selected-rating">0</span><small> / 5</small>
                                            </h2>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="1" id="rating-star-1">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="2" id="rating-star-2">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="3" id="rating-star-3">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="4" id="rating-star-4">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btnrating btn btn-default btn-lg" data-attr="5" id="rating-star-5">
                                                <i class="fa fa-star" aria-hidden="true"></i>
                                            </button>
                                        </div>
                        
                                        <!-- Bouton de soumission -->
                                        <div class="text-center mt-4 mb-0">
                                            <button type="submit" class="btn btn-primary btn-sm">Submit Rating</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}