{% extends "base.html" %}

{% block content %}
{% load static %}
    <br><br>
    <div class="container-xl">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-5">
                            <h2>User <b>Management</b></h2>
                        </div>
                        <div class="col-sm-7">
                            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#addUserModal">
                                <i class="material-icons">&#xE147;</i> <span>Add New User</span>
                             </a>                             
                            <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>						
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>						
                            <th>Date Created</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in page_obj %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% if user.first_name %}
                                    <td><a href="{% url 'user-detail' user.id %}"><img src="http://127.0.0.1:8000/media/{{ user.first_name }}" class="avatar" alt="Avatar" style="width: 50px; height: 50px;">{{ user.username }}</a></td>
                                {% else %}
                                    <td><a href="{% url 'user-detail' user.id %}"><img src="{% static 'admins/img/avatar-svgrepo-com.svg' %}" class="avatar" alt="Avatar" style="width: 50px; height: 50px;">{{ user.username }}</a></td>
                                {% endif %}
                                <td>{{ user.date_joined|date:"d/m/Y" }}</td>                        
                                <td>Admin</td>
                                <td><span class="status text-success">&bull;</span> Active</td>
                                <td>
                                    <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                    <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                                </td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No users found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                
                <!-- Pagination -->
                <div class="clearfix">
                    <div class="hint-text">Showing <b>{{ page_obj.start_index }}</b> to <b>{{ page_obj.end_index }}</b> of <b>{{ page_obj.paginator.count }}</b> entries</div>
                    <ul class="pagination">
                        <!-- Lien vers la page précédente -->
                        {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link">Previous</a></li>
                        {% endif %}
                
                        <!-- Affichage des numéros de pages -->
                        {% for page_num in page_obj.paginator.page_range %}
                            {% if page_num == page_obj.number %}
                                <li class="page-item active"><a class="page-link">{{ page_num }}</a></li>
                            {% elif page_num >= page_obj.number|add:-2 and page_num <= page_obj.number|add:2 %}
                                <li class="page-item"><a href="?page={{ page_num }}" class="page-link">{{ page_num }}</a></li>
                            {% endif %}
                        {% endfor %}
                
                        <!-- Lien vers la page suivante -->
                        {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><a class="page-link">Next</a></li>
                        {% endif %}
                    </ul>
                </div>                
            </div>
        </div>
    </div>

    <!-- The Modal -->
    <div class="modal fade" id="addUserModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="addUserForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="first_name">Image:</label>
                            <input type="file" class="form-control" id="first_name" name="first_name" accept="image/*" required>
                        </div>                        
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control" id="last_name" name="last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <!-- Ajax Script for Submitting the Form -->
    <script>
        $(document).ready(function() {
            $('#addUserForm').submit(function(event) {
                event.preventDefault();
                
                // Créer un objet FormData pour gérer les fichiers
                var formData = new FormData(this);
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'add-user' %}",
                    data: formData,
                    contentType: false,  // Nécessaire pour l'envoi de fichiers
                    processData: false,  // Nécessaire pour l'envoi de fichiers
                    success: function(response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload(); // Recharger la page
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function(response) {
                        alert('An error occurred while adding the user.');
                    }
                });
            });
        });
    </script>     

{% endblock content %}