{% extends "base.html" %}

{% block content %}
    {% load static %}
    <br><br><br><br>
    <div class="container">
        <h2>User Details</h2>
        <ul>
            {% if user.first_name %}
                <img src="http://127.0.0.1:8000/media/{{ user.first_name }}" alt="img" style="width: 50px; height: 50px;">
            {% else %}
                <img src="{% static 'admins/img/avatar-svgrepo-com.svg' %}" alt="img" style="width: 50px; height: 50px;">
            {% endif %}
            <li><strong>Username:</strong> {{ user.username }}</li>
            <li><strong>Last Name:</strong> {{ user.last_name }}</li>
            <li><strong>Email:</strong> {{ user.email }}</li>
            <li><strong>Date Joined:</strong> {{ user.date_joined|date:"d/m/Y" }}</li>
            <li><strong>Last Login:</strong> {{ user.last_login|date:"d/m/Y H:i" }}</li>
        </ul>
        <a href="{% url 'user-list' %}" class="btn btn-secondary mr-3">Back to User List</a>
        <a href="#" class="edit" title="Edit User" data-toggle="modal" data-target="#editUserModal" data-user-id="{{ user.id }}" onclick="setEditUserDetails(this);">
            <i class="material-icons">&#xE254;</i>
        </a>
    </div>

    <!-- The Edit User Modal -->
    <div class="modal fade" id="editUserModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal header -->
                <div class="modal-header">
                    <h4 class="modal-title">Edit User</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <form id="editUserForm">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="editUsername" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="last_name">Last Name:</label>
                            <input type="text" class="form-control" id="editLastName" name="last_name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="editEmail" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Password (leave blank to keep unchanged):</label>
                            <input type="password" class="form-control" id="editPassword" name="password">
                        </div>
                        <div class="form-group">
                            <label for="image">Profile Image:</label>
                            <input type="file" class="form-control" id="editImage" name="image">
                        </div>
                        <input type="hidden" id="editUserId" name="userId">
                        <button type="submit" class="btn btn-primary">Update User</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <script>
        function setEditUserDetails(element) {
            const userId = element.getAttribute('data-user-id');
            document.getElementById('editUserId').value = userId;
            console.log(userId);
    
            $.get("{% url 'user-detail' 0 %}".replace('0', userId), function(data) {
                document.getElementById('editUsername').value = data.username;
                document.getElementById('editLastName').value = data.last_name;
                document.getElementById('editEmail').value = data.email;
            });
        }
    
        $(document).ready(function() {
            $('#editUserForm').submit(function(event) {
                event.preventDefault();
    
                var formData = new FormData(this);
    
                $.ajax({
                    type: 'POST',
                    url: "{% url 'edit-user' 0 %}".replace('0', document.getElementById('editUserId').value),
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if (response.success) {
                            alert(response.message);
                            location.reload();
                        } else {
                            alert(response.message);
                        }
                    },
                    error: function(response) {
                        alert('An error occurred while updating the user profile.');
                    }
                });
            });
        });
    </script>    
{% endblock %}