{% extends "uses.html" %}

{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
    <div class="container">
    <div class="row">
    <div class="col-lg-10 mx-auto mb-4">
    <div class="section-title text-center ">
    <br><br>
    <h3 class="top-c-sep">List of Famous Actors</h3>
    <p>Here you can see all actors or search actors</p>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-lg-10 mx-auto">
    <div class="career-search mb-60">
        <form action="{% url 'actor-list' %}" method="get" class="career-form mb-60">
            <div class="row">
                <!-- Champ de recherche -->
                <div class="col-md-6 col-lg-9 my-3">
                    <div class="input-group position-relative">
                        <input type="text" class="form-control" placeholder="Enter Your Keywords" name="search" id="keywords" value="{{ search_query }}">
                    </div>
                </div>
        
                <!-- Bouton de recherche -->
                <div class="col-md-6 col-lg-3 my-3">
                    <button type="submit" class="btn btn-lg btn-block btn-light btn-custom" id="contact-submit">
                        Search
                    </button>
                </div>
            </div>
        </form>                    
    <div class="filter-result">
    <p class="mb-30 ff-montserrat">Actor count : {{ actors_count }}</p>

    <div class="container">
        <div class="job-list">
            <!-- Loop through different genres -->
            {% for actor in actor %}
            <div class="job-box d-md-flex align-items-center justify-content-between mb-30">
                <div class="job-left my-4 d-md-flex align-items-center flex-wrap w-100">
                    <div class="job-content text-center w-100">
                        <h5 class="text-center">{{ actor.first_name }} {{ actor.last_name }}</h5>
                        <div class="d-flex justify-content-center text-capitalize ff-open-sans">
                            <p class="text-center">
                                {{ actor.date_of_birth }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="job-right my-4 flex-shrink-0">
                    <a href="#" class="btn d-block w-100 d-sm-inline-block btn-light">Search now</a>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>    
        <nav aria-label="Page navigation">
            <ul class="pagination pagination-reset justify-content-center">
                {% if genre.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ genre.previous_page_number }}" tabindex="-1">
                        <i class="zmdi zmdi-long-arrow-left"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <i class="zmdi zmdi-long-arrow-left"></i>
                    </a>
                </li>
                {% endif %}

                {% for num in genre.paginator.page_range %}
                    {% if genre.number == num %}
                    <li class="page-item active">
                        <a class="page-link" href="#">{{ num }}</a>
                    </li>
                    {% elif num > genre.number|add:"-3" and num < genre.number|add:"3" %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if genre.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ genre.next_page_number }}">
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">
                        <i class="zmdi zmdi-long-arrow-right"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>    

    </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        
    </script>
{% endblock content %}