{% extends "authenticate/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1>Welcome to the Home Page</h1>
    <div>
        {% if user.is_authenticated %}
            <p>Welcome back, {{ user.username }}!</p>
            <form method="POST" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Log Out</button>
            </form>            
        {% else %}
            <p>Welcome, visitor. Please <a href="{% url 'login' %}">Log in</a> or <a href="{% url 'signup' %}">Sign Up</a>.</p>
        {% endif %}
    </div>
{% endblock content %}